<!DOCTYPE HTML>
<!-- Visualize by TEMPLATED	templated.co @templatedco Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)-->
<html>
	<head>
		<title>RibaFS Portal</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="og:title" content="RibaFS Portal" />
    		<meta property="og:description" content="Site pessoal do RibaFS!" />
    		<meta property="og:url" content="http://ribafs.org" />

		<link rel="stylesheet" href="assets/css/sociais.css" />
		<link rel="stylesheet" href="assets/css/simplegrid.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/tooltip.css" />
	<style>
	#menu{
		position: fixed;
		top: 15%;
		left: 50%;
		margin-top: -100px; /* Negative half of height. */
		margin-left: -250px; /* Negative half of width. */
	/* Dica de http://stackoverflow.com/questions/2005954/center-a-positionfixed-element */
	}
	#header{
		padding-top: 150px;
		margin-bottom: 150px;
	}
	#sociais{
		padding: 200px;
		margin-bottom: 280px;
	}
	#conteudo{
		padding-top: 200px;
		margin-bottom: 100px;
	}
	#download{
		padding-top: 200px;
		margin-bottom: 400px;
	}
	#sobre{
		padding-top: 200px;
		margin-bottom: 50px;
		color: #000;
	}
	#comentarios{
		padding-top: 500px;
		padding-bottom: 0px;
	}
	#menu ul {
		background-color: #5D617C;
		opacity: 0.8;
		list-style-type: none;
		height: 30px;
	}
	#menu ul li {
	    display: inline;
	}
	</style>
	</head>
<body>

<!-- Wrapper -->
<div id="wrapper">
	<div align="center" id="menu">
		<h2>
		<ul>
			<li><a href="#header" accesskey="1" title="Início">Início</a></li>
			<li><a href="#sociais" accesskey="4" title="Redes Sociais">Redes Sociais</a></li>
			<li><a href="#conteudo" accesskey="2" title="Assuntos do Site">Conteúdo</a></li>
			<li><a href="#download" accesskey="3" title="Download">Download</a></li>
			<li><a href="#sobre" accesskey="3" title="Sobre Mim">Sobre</a></li>
			<li><a href="#comentarios" accesskey="5" title="Comentários">Comentários</a></li>
		</ul>
		</h2>
	</div>

	<header id="header">
		<span class="avatar"><img src="images/avatar.jpg" alt="Ribamar FS" title="Ribamar FS" /></span>
		<h1><b>RibaFS Portal</b><br>
	Seja sinceramente muito bem vindo(a)!<br>
	Fique inteiramente à vontade.<br>
	Acredita que este site foi criado também para você? Pois foi!<br>
	Caso tenha alguma crítica ou sugestão, pode me contactar.<br>
	Este site foi criado usando o <a href="https://github.com/ribafs/static-cms/">Static CMS</a>
			</h1>
	</header>

	<div align="center" id="sociais">
		<h1 align="center">Redes Sociais</h1>
		<ul class="share-buttons" style="position: relative;">
			<li><a href="https://pinterest.com/pin/create/button/?url=http://ribafs.org" target="_blank" title="Compartilhar no Pinterest"><img src="images/Pinterest.png"></a></li>
			<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://ribafs.org/" target="_blank" title="Compartilhar no Facebook"><img src="images/Facebook.png"></a></li>
			<li><a href="https://twitter.com/intent/tweet?text=http://ribafs.org/" target="_blank" title="Compartilhar no Twitter"><img src="images/Twitter.png"></a></li>
			<li><a href="https://plus.google.com/share?url=http://ribafs.org/" target="_blank" title="Compartilhar no Google Plus"><img src="images/Google+.png"></a></li>
			<li><a href="https://www.linkedin.com/shareArticle?mini=true&url=http://ribafs.org" target="_blank" title="Compartilhar no Linkedin"><img src="images/LinkedIn.png"></a></li>
			<li><a href="mailto:ribafs@tutanota.com" target="_blank" title="Contato via E-mail"><img src="images/Email.png"></a></li>
		</ul>
	</div>

<section id="conteudo">
    <div class="grid grid-pad" align="center">
        <div class="col-1-6">
           <div class="content">
		<a href="/basicos/index.html"><i class="fa fa-4x fa-html5" style="color:#271D36;"></i></a>
		<h2><a href="/basicos/index.html">Básicos</a></h2>
		<b>HTML, CSS, JavaScript, jQuery, Bootstrap, PHP, PHPOO, PDO, etc.</b>
           </div>
        </div>
        <div class="col-1-6">
           <div class="content">
		<a href="/servidores/index.html"><i class="fa fa-4x fa-server" style="color:#271D36;"></i></a>
		<h2><a href="/servidores/index.html">Servidores</a></h2>
		<b>Administração de servidores Linux, web e SGBD!</b>
           </div>
        </div>
        <div class="col-1-6">
           <div class="content">
		<a href="/postgresql/index.html"><i class="fa fa-4x fa-database" style="color:#271D36;"></i></a>
		<h2><a href="/postgresql/index.html">PostgreSQL</a></h2>
		<b>Administração e usos do robusto SGBD PostgreSQL.</b>
           </div>
        </div>
        <div class="col-1-6">
           <div class="content">
		<a href="/cakephp/index.html"><i class="fa fa-4x fa-tasks" style="color:#271D36;"></i></a>
		<h2><a href="/cakephp/index.html">CakePHP 3</a></h2>
		<b>Criação de Aplicativos usando o Framework CakePHP 3</b>
           </div>
        </div>
        <div class="col-1-6">
           <div class="content">
		<a href="/joomla/index.html"><i class="fa fa-4x fa-joomla" style="color:#271D36;"></i></a>
		<h2><a href="/joomla/index.html">Joomla 3</a></h2>
		<b>Criação de sites com o CMS Joomla 3 e extensões</b>
           </div>
        </div>
        <div class="col-1-6">
           <div class="content">
		<a href="/estaticos/index.html"><i class="fa fa-4x fa-html5" style="color:#271D36;"></i></a>
		<h2><a href="/estaticos/index.html">Conteúdo Estático</a></h2>
		<b>Criação de sites usando HTML5 com bons recursos</b>
           </div>
        </div>
    </div>
    <div class="grid grid-pad" align="center">
        <div class="col-1-10">
           <div class="content">
           </div>
        </div>
	<div class="col-1-6">
           <div class="content">
		<a href="/ferramentas/index.html"><i class="fa fa-4x fa-magnet" style="color:#271D36;"></i></a>
		<h2><a href="/ferramentas/index.html">Ferramentas</a></h2>
		<b>Templates, menus dropdown, forms, etc</b>
           </div>
        </div>
        <div class="col-1-6">
           <div class="content">
		<a href="http://ribafs.org/portal/meus-livros" target="_blank"><i class="fa fa-4x fa-book" style="color:#271D36;"></i></a>
		<h2><a href="http://ribafs.org/portal/meus-livros" target="_blank">Meus Livros</a></h2>
		<b>Sobre diversos assuntos e todos gratuitos</b>
           </div>
        </div>
        <div class="col-1-6">
           <div class="content">
		<a href="http://github.com/ribafs" target="_blank"><i class="fa fa-4x fa-github" style="color:#271D36;"></i></a>
		<h2><a href="http://github.com/ribafs" target="_blank">Meus Projetos</a></h2>
		<b>Meus Projetos no GitHub sobre vários assuntos!</b>
           </div>
        </div>
        <div class="col-1-6">
           <div class="content">
		<a href="/mobile/index.html"><i class="fa fa-4x fa-mobile" style="color:#271D36;"></i></a>
		<h2><a href="/mobile/index.html">Mobile</a></h2>
		<b>Criação de jogos e aplicativos mobile</b>
           </div>
        </div>
        <div class="col-1-6">
           <div class="content">
		<a href="/blog/index.html"><i class="fa fa-4x fa-rss-square" style="color:#271D36;"></i></a>
		<h2><a href="/blog/index.html">Blog</a></h2>
		<b>Outros assuntos fora da informática.</b>
           </div>
        </div>
    </div>
 </section>

<section id="download">
	<div align="center"><a href="https://github.com/ribafs/static-cms/archive/master.zip" class="tooltip"><i class="fa fa-4x fa-cloud-download" style="color:#271D36;"></i><span class="tooltiptext">Download da estrutura e do tutorial de criação</span></a></div>
	<h2 align="center"><a href="https://github.com/ribafs/static-cms/archive/master.zip" class="tooltip" >Download<span class="tooltiptext">Download da estrutura e do tutorial de criação<span></a></h2>
</section>

<section id="sobre">
	<div align="center">
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
		Aqui começa o conteúdo sbre mim.<br>
	</div>
</section>

<section id="comentarios">
<h2 align="center">Deixe seu comentário abaixo</h2>
<!-- /Disqus-->
<div id="disqus_thread" align="center"></div>
<script>

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//static-cms.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<!-- /Disqus-->
</section>

 <div id="rodape" align="center">
		 <p><a href="http://ribafs.org">RibaFS</a> Template criado pela <a href="http://templated.co">TEMPLATED</a></p>
 </div>

	</div><!--Wrapper-->
</body>
</html>
